<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"><%= locals.title %></h1>
</div>

<div class="pt-3">
  <p>This is a User Management system developed by student of IP-13 Karamian Vartan.</p>
  <p>Check out source code on my <a href="<%= locals.GitHubRef %>">GitHub</a>.</p>
</div>